{
  "comments": false,
  "env": {
    "development": {},
    "production": {}
  },
  "ignore": ["dist", "flow-coverage", "node_modules"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "flow",
    "stage-3"
  ],
  "sourceMaps": "inline"
}
